@page "/"
@using Essence.Client.Entries

<CustomPageTitle>Home</CustomPageTitle>

@if (entries == null)
{
    <p><em>Chargement...</em></p>
}
else
{   
    <EntriesSummary Entries="entries.Skip(1)"/>
    <EntriesChart Entries="entries" Height="350" />
    <EntriesList Entries="entries" />
}

@code {
    [Inject]
    public required IEntryRepository entryRepository { get; set; }

    private Entry[]? entries;

    override protected async Task OnInitializedAsync()
    {
        entries = await entryRepository.GetEntries();
    }
}
