<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Entries)
        {
            <tr>
                <td>@entry.Id</td>
                <td>@entry.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Entry> Entries { get; set; } = new List<Entry>();
}
